<div id="tabOctoViewer" style="width: 100%; display: none;">
    <div style="min-height: calc(100vh - 141px); height: calc(100vh - 141px);">
        <div class="btn-toolbar" role="toolbar" style="height: fit-content; padding-top: 9px;">
            <div class="btn-group mr-2 btn-group-sm" id="divTreeButton" role="group" style="padding-right: 20px;">
                <button aria-pressed="true" class="btn btn-outline-info focus active" data-toggle="button" id="btnOctoTree" title="Tables tree" type="button"><i class="bi bi-bar-chart-steps"></i>
                </button>
                &nbsp;
                <button class="btn btn-outline-info" id="btnOctoTreeRefresh" style="display: none;" title="Refresh" type="button"><span class="reload" style="font-weight: bold;">↻</span></button>
            </div>

            <div class="btn-group mr-2 btn-group-sm" role="group" style="padding-right: 20px;">
                <button class="btn btn-outline-info" id="btnOctoUndo" title="Undo (Ctrl+Z)" type="button"><i class="bi bi-arrow-counterclockwise"></i></button>
                &nbsp;
                <button class="btn btn-outline-info" id="btnOctoRedo" title="Redo (Ctrl+Y)" type="button"><i class="bi bi-arrow-clockwise"></i></button>
            </div>

            <div class="btn-group mr-2 btn-group-sm" role="group" style="padding-right: 10px;">
                <button class="btn btn-outline-info" id="btnOctoZoomOut" title="Zoom out" type="button"><i class="bi bi-zoom-out"></i></button>
                &nbsp;
                <button class="btn btn-outline-info" id="btnOctoZoomIn" title="Zoom in" type="button"><i class="bi bi-zoom-in"></i></button>
            </div>

            <div class="btn-group mr-2 btn-group-sm" role="group" style="padding-right: 10px;">
                <button class="btn btn-outline-info" id="btnOctoClear" title="Clear the editor content (Ctrl+A Delete)" type="button"><i class="bi bi-trash"></i></button>
                &nbsp;
                <button class="btn btn-outline-info" id="btnOctoClipboard" title="Copy to clipboard (Ctrl+C)" type="button"><i class="bi bi-clipboard2-data"></i></button>
            </div>

            <div class="btn-group mr-2 btn-group-sm" role="group" style="padding-right: 20px;">
                <button class="btn btn-outline-info" data-toggle="button" id="btnOctoTheme" title="Theme type: light or dark" type="button"><i class="bi bi-moon-stars-fill"></i></button>
            </div>

            <div class="btn-group mr-2 btn-group-sm" role="group">
                <button class="btn btn-outline-info" id="btnOctoRun" title="Run (Ctrl+Enter)" type="button"><i class="bi bi-play-circle"></i></button>
            </div>
        </div>
        <div style="height: 9px;"></div>
        <div class="qry-panel-container" style="height: 100%;">
            <div class="qry-panel-left" id="divOctoTables" style="height: 100%; width: 0">
                <div id="divOctoTableScroller" style="overflow: auto; height: calc(100% - 25px)">
                    <div class="tree" id="treeOctoTables" style="width: 100%; padding-top: 5px"></div>
                </div>
            </div>
            <div class="splitter"></div>
            <div class="qry-panel-right" id="" style="display: block;">
                <div class="qry-panel-top" id="divOctoEditor">
                    <textarea id="divOctoSqlArea" style="height: 100%; width: 100%;"></textarea>
                </div>
                <div class="qry-splitter splitter-horizontal" id="divOctoSplitter"></div>
                <div class="qry-panel-bottom" id="divOctoResult">
                    <nav>
                        <div class="nav nav-tabs" id="tabOctoResultTabs" role="tablist">
                            <button class="nav-link active" data-target="#nav-home" data-toggle="tab" id="tabOctoText" role="tab" type="button">&nbsp;&nbsp;<span name="octo-sub-tab">CLI</span>
                            </button>
                        </div>
                    </nav>
                    <div class="tab-content" id="divOctoResultDivs">
                        <div class="tab-pane show active" id="divOctoText" role="tabpanel" style="overflow: auto; height: 700px;">
                            <div class="octo-cli-clear-button">
                                <button class="btn btn-outline-info" id="btnOctoCliClear" title="Clear the CLI content" type="button"><i class="bi bi-trash"></i></button>
                            </div>
                            <div class="inconsolata" id="divOctoCli">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="octo-status-bar">
            <span id="divOctoStatusbar">Line: 1 Col: 1</span>
            <div class="form-row" style="float: right; display: flex;">
                <span class="form-check-inline">Timeout (s):&nbsp;<input class="form-control form-control-sm octo-status-bar-input" id="inpOctoTimeout" max="3600" min="1" type="number"></span>
                <span class="form-check-inline">&nbsp; Limit:&nbsp;<input class="form-control form-control-sm octo-status-bar-input" id="inpOctoLimit" min="0" type="number"></span>
            </div>
        </div>
    </div>
</div>

<div class="octo-helper-statement-box row" id="divOctoHelperStatement" style="display: none; z-index: 100;" tabindex="0">
    <button class="btn btn-sm btn-block btn-outline-info" id="btnOctoHelperSelect" tabindex="0" type="button">SELECT</button>
    <button class="btn btn-sm btn-block btn-outline-info" id="btnOctoHelperInsert" tabindex="0" type="button">INSERT</button>
    <button class="btn btn-sm btn-block btn-outline-info" id="btnOctoHelperUpdate" tabindex="0" type="button">UPDATE</button>
    <button class="btn btn-sm btn-block btn-outline-info" id="btnOctoHelperDelete" tabindex="0" type="button">DELETE</button>
</div>

<div class="octo-helper-columns-box row" id="divOctoHelperColumns" style="display: none; z-index: 100">
    <select class="custom-select octo-helper-columns-select" id="selOctoHelperColumns" multiple name="octoBtn" tabindex="1"></select>
    <div style="height:5px;"></div>
    <button class="btn btn-sm btn-block btn-outline-info" id="btnOctoHelperSubmitFields" type="button">Paste</button>
    <div style="height:5px;"></div>
</div>

<div class="tab-pane show" id="divOctoTable" role="tabpanel" style="overflow: auto; height: 100%; width: 100%;">
    <table class="table table-sm table-striped table-bordered table-hover octo-table" id="tblOctoResult">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>

<div class="octo-popup-definition row" id="divOctoPopupDefinition" style="display: none; z-index: 100;" tabindex="0">

</div>
