<div id="tabRviewer" style="width: 100%; display: none;">
    <div style="height: 6px;"></div>
    <div class="btn-toolbar" role="toolbar">
        <div aria-label="First group" class="btn-group btn-group-sm" role="group" style="height: fit-content;">
            <span style="margin-top: 5px;">Label:&nbsp;&nbsp;</span>
            <select class="form-control" id="selRviewerLabels" title="Jump to label">
            </select>
        </div>

        <span style="width: 20px;"></span>

        <div aria-label="First group" class="btn-group mr-2 btn-group-sm" role="group" style="height: fit-content;">
            <button class="btn btn-outline-info" id="btnRviewerZoomOut" title="Zoom out" type="button"><i class="bi bi-zoom-out"></i></button>
            &nbsp;
            <button class="btn btn-outline-info" id="btnRviewerZoomIn" title="Zoom in" type="button"><i class="bi bi-zoom-in"></i></button>
        </div>

        <span style="width: 20px;"></span>

        <div aria-label="Second group" class="btn-group mr-2 btn-group-sm" role="group" style="height: fit-content;">
            <button class="btn btn-outline-info" id="btnRviewerProperties" title="Routine properties" type="button"><i class="bi bi-info-circle"></i></button>
        </div>

        <span style="width: 20px;"></span>

        <div aria-label="Third group" class="btn-group mr-2 btn-group-sm" role="group" style="height: fit-content;">
            <button aria-pressed="false" class="btn btn-outline-info" data-toggle="button" id="btnRviewerTheme" title="Theme type: light or dark" type="button"><i
                    class="bi bi-moon-stars-fill"></i></button>
        </div>

        <span style="width: 20px;"></span>

        <div aria-label="Fourth group" class="btn-group mr-2 btn-group-sm" role="group" style="height: fit-content;">
            <button class="btn btn-outline-info" id="btnRviewerPermalink" title="Create a permalink" type="button">
                <i class="bi bi-link-45deg"></i>
            </button>
        </div>

    </div>
    <div style="height: 9px;"></div>
    <div class="row">
        <div class="col">
            <div id="divRviewerDiv">
                <textarea id="divRviewerCode" name="divRviewerCode" readonly></textarea>
            </div>
        </div>
    </div>
</div>
