<div class="modal fade" id="modalDefrag" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-width-700 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="lblReorgTitle">Reorg (Defrag / Compact)</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="col">
                    <div class="row">
                        <div class="col-6">
                            <label>
                                Regions:
                                <a data-content="Select the region you wish to defragment / compact."
                                   data-toggle="popover" data-trigger="hover" id="hlpCompactRegion" role="button" tabindex="-1"
                                   title="Region">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-6">
                            <div class="compact-treeContainer">
                                <div class="compact-tree" id="treeCompactRegions"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="divDefragReclaim">
                        <hr>
                        <div class="col-6">
                            <label>
                                Reclaim deleted space:
                                <a data-content="Specifies that DEFRAG, after it has rearranged some or all of a region’s contents, should attempt to reduce the size of the database file and return free space to the file system."
                                   data-toggle="popover" data-trigger="hover" id="hlpCompactRecoverDiskSpace" role="button" tabindex="-1"
                                   title="Recover deleted space">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-6">
                            <div class="form-group-row">
                                <div class="custom-control custom-switch">
                                    <input class="custom-control-input" id="swCompactRecover"
                                           type="checkbox">
                                    <label class="custom-control-label" for="swCompactRecover" id="lbl">&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row collapse" id="collapseReclaim">
                        <div class="col-6">
                            <label>Minimum amount for the reclamation:
                                <a data-content="The percentage (0-99) provides a minimum amount for the reclamation; in other words, REORG won’t bother performing a file truncate unless it can give back at least this percentage of the file. <br>The value 0 will give back anything it can."
                                   data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                   title="">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-2">
                            <label id="lblCompactReclamation">0</label>&nbsp;%
                        </div>
                        <div class="col-4">
                            <input class="custom-range" id="rngCompactReclamation" max="99" min="0" step="1" type="range"
                                   value="0">
                            <span class="compact-range-label-left">0</span>
                            <div class="compact-range-label-right">99</div>
                        </div>
                    </div>
                    <div class="row" id="divDefragFillFactor">
                        <hr>
                        <div class="col-6">
                            <label>Fill factor:
                                <a data-content="Specifies how full you want each database block to be. This is a target number. Individual blocks may be more or less full than the fill factor."
                                   data-toggle="popover" data-trigger="hover" id="hlpCompactFillFactor" role="button" tabindex="-1"
                                   title="Fill factor">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-2">
                            <label id="lblCompactFillFactor">100</label>
                        </div>
                        <div class="col-4">
                            <input class="custom-range" id="rngCompactFillFactor" max="100" min="30" step="1" type="range"
                                   value="100">
                            <span class="compact-range-label-left">30</span>
                            <div class="compact-range-label-right">100</div>
                        </div>
                    </div>
                    <br>
                    <div class="row" id="divDefragIndexFillFactor">
                        <div class="col-6">
                            <label>Index fill factor:
                                <a data-content="Directs DEFRAG to leave free space within index blocks for future updates. Arguments to this qualifier must be integers from 30 to 100 that represent the percentage of the index block that REORG can fill. REORG uses this number to decide whether to place more information in an index block, or create space by moving data to another block."
                                   data-toggle="popover" data-trigger="hover" id="hlpCompactIndexFillFactor" role="button" tabindex="-1"
                                   title="Index fill factor">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-2">
                            <label id="lblCompactIndexFillFactor">100</label>
                        </div>
                        <div class="col-4">
                            <input class="custom-range" id="rngCompactIndexFillFactor" max="100" min="30" step="1" type="range"
                                   value="100">
                            <span class="compact-range-label-left">30</span>
                            <div class="compact-range-label-right">100</div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <label>
                                Run in the background:
                                <a data-content="By selecting this switch, the task will run in the background and you can continue using the GUI.<BR>When the task is completed, a link on the screen will appear for you to view the report"
                                   data-toggle="popover" data-trigger="hover" id="hlpCompactRunBackground" role="button" tabindex="-1"
                                   title="Run in the background">
                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                </a>
                            </label>
                        </div>
                        <div class="col-6">
                            <div class="form-group-row">
                                <div class="custom-control custom-switch">
                                    <input checked="checked" class="custom-control-input" id="swCompactRunBackground"
                                           type="checkbox">
                                    <label class="custom-control-label" for="swCompactRunBackground">&nbsp;&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info disabled" disabled id="btnCompactOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnCompactCancel" tabindex="-1" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Defrag result dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalDefragResult" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <label class="modal-title" id="modalLabel">Reorg (Defrag / Compact) report</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable">
                <div style="height: 450px;">
                    <table class="table table-hover" id="tblCompactResult">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnCompactResultCopyToClipboard" tabindex="10" type="button">
                    <i class="bi-clipboard2-data-fill hand"></i>&nbsp; Copy to clipboard
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Defrag detail result dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalDefragDetailsResult" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-900 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <label class="modal-title">Reorg (Defrag / Compact) report for region&nbsp;</label><label class="modal-title" id="defragDetailsReportHeader"></label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <div style="height: 450px; overflow-y: scroll;">
                    <table class="table table-hover table-bordered" id="tblCompactDetailResult" style="overflow: auto;">
                        <thead>
                        <tr style="font-size: 12px; font-weight: 600;">
                            <th class="defrag-detail-report-th" scope="col" style="width: 250px;">Global name</th>
                            <th class="defrag-detail-report-th" scope="col" style="width: 150px;">Blocks processed</th>
                            <th class="defrag-detail-report-th" scope="col" style="width: 150px;">Blocks coalesced</th>
                            <th class="defrag-detail-report-th" scope="col" style="width: 150px;">Blocks<br> split</th>
                            <th class="defrag-detail-report-th" scope="col" style="width: 150px;">Blocks swapped</th>
                            <th class="defrag-detail-report-th" scope="col" style="width: 150px;">Blocks<br> freed</th>
                            <th class="defrag-detail-report-th" scope="col" style="width: 150px;">Blocks reused</th>
                            <th class="defrag-detail-report-th" scope="col" style="width: 150px;">Blocks extended</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnCompactResultDetailsCopyToClipboard" tabindex="10" type="button">
                    <i class="bi-clipboard2-data-fill hand"></i>&nbsp; Copy to clipboard
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
