<!-- Integ dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalInteg" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-800 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <h5 class="modal-title" id="modalLabel">Integrity check</h5>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-6">
                                    <label>
                                        <b>Regions:</b>
                                        <a data-content="Select the region you wish to perform an integrity check against."
                                           data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                           title="Region">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="compact-treeContainer">
                                        <div class="compact-tree" id="treeIntegRegions"></div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <label>
                                        <b>Type:</b>
                                        <a data-content="The FAST type produces results significantly faster than a full INTEG because the majority of blocks in a typical database are data blocks.<br>While FAST is not a replacement for a COMPLETE check, it very quickly detects those errors that must be repaired immediately to prevent accelerating database damage."
                                           data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                           title="Type">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="form-check-inline">
                                        <div class="custom-control custom-radio" style="width: 140px;">
                                            <input class="custom-control-input" id="optIntegFast"
                                                   name="fastOptGroup" type="radio">
                                            <label class="custom-control-label" for="optIntegFast">Fast
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input checked class="custom-control-input" id="optIntegComplete"
                                                   name="fastOptGroup" type="radio">
                                            <label class="custom-control-label" for="optIntegComplete">Complete
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-6">
                                    <label>
                                        <b>Reporting:</b>
                                        <a data-content="A detailed report displays the number of index and data blocks in the directory tree and in each global variable tree as well as the total number of directory, index and data blocks<br>A summary displays a single summary report by database file of the total number of directory, index and data blocks."
                                           data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                           title="Reporting">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="form-check-inline">
                                        <div class="custom-control custom-radio" style="width: 140px;">
                                            <input checked class="custom-control-input" id="optIntegSummary"
                                                   name="reportOptGroup" type="radio">
                                            <label class="custom-control-label" for="optIntegSummary">Summary
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" id="optIntegDetailed"
                                                   name="reportOptGroup" type="radio">
                                            <label class="custom-control-label" for="optIntegDetailed">Detailed
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-6">
                                    <label for="swIntegAdvancedOptions">
                                        <b>Advanced options:</b>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" id="swIntegAdvancedOptions"
                                               data-target="#collapseIntegAdvanced" data-toggle="collapse" type="checkbox">
                                        <label class="custom-control-label" for="swIntegAdvancedOptions">&nbsp;&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row collapse collapse-show" id="collapseIntegAdvanced">
                                <div class="col-12" style="height: 15px;"></div>
                                <div class="col-6 integ-advanced-labels">
                                    <label for="swIntegKeyRanges">
                                        Key ranges:
                                        <a data-content="Specify whether the report includes key ranges that it detects which identify the data suspected of problems."
                                           data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                           title="Key ranges">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" id="swIntegKeyRanges"
                                               checked type="checkbox">
                                        <label class="custom-control-label" for="swIntegKeyRanges">&nbsp;&nbsp;</label>
                                    </div>
                                </div>
                                <div class="col-6 integ-advanced-labels">
                                    <label>
                                        Max. MAP errors (0 for all):
                                        <a data-content="Specifies the maximum number of 'incorrectly marked busy errors' that the Integrity Check reports. "
                                           data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                           title="Max. MAP errors">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control form-control-sm" id="inpIntegMap" max="1000000" min="0" type="number" value="10">
                                </div>
                                <div class="col-6 integ-advanced-labels">
                                    <label>
                                        Max. KEYSIZE errors (0 for all):
                                        <a data-content="Specifies the maximum number of “key size too large” errors that the Integrity Check operation reports."
                                           data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                           title="Max. KEYSIZE errors">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control form-control-sm" id="inpIntegKeySize" max="1000000" min="0" type="number" value="10">
                                </div>
                                <div class="col-6 integ-advanced-labels">
                                    <label>
                                        Max. TRANSACTION errors (0 for all):
                                        <a data-content="Specifies the maximum number of block transaction-number-too-large errors that the Integrity Check reports."
                                           data-toggle="popover" data-trigger="hover" role="button" tabindex="-1"
                                           title="Max. TRANSACTION errors">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-3">
                                    <input class="form-control form-control-sm" id="inpIntegTransaction" max="1000000" min="0" type="number" value="10">
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-6">
                                    <label for="swIntegRunBackground">
                                        <b>Run in background:</b>
                                        <a data-content="By selecting this switch, the task will run in the background and you can continue using the GUI.<BR>When the task is completed, a link on the screen will appear for you to view the report"
                                           data-toggle="popover" data-trigger="hover" id="hlpCompactRunBackground" role="button" tabindex="-1"
                                           title="Run in background">
                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                        </a>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="custom-control custom-switch">
                                        <input class="custom-control-input" id="swIntegRunBackground"
                                               type="checkbox">
                                        <label class="custom-control-label" for="swIntegRunBackground">&nbsp;&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info disabled" disabled id="btnIntegOk" tabindex="10" type="button">
                    OK
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnIntegCancel" tabindex="-1" type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Integ result dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalIntegResult" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-700 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <label class="modal-title">Integrity check report</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable">
                <div id="divIntegResult" style="height: 450px;">
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnIntegResultCopyToClipboard" tabindex="10" type="button">
                    <i class="bi-clipboard2-data-fill hand"></i>&nbsp; Copy to clipboard
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
