<!-- repl instance file dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalReplInstanceFile" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-700 " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Replication Instance File: <span id="lblReplInstanceFileTitle"></span></label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" data-target="#divStatsInstanceFileHeader" data-toggle="tab" id="tabStatsInstanceFileHeader" role="tab" type="button">Header
                        </button>
                        <button class="nav-link" data-target="#divStatsInstanceFileSlots" data-toggle="tab" id="tabStatsInstanceFileSlots" role="tab" type="button">Slots
                        </button>
                        <button class="nav-link" data-target="#divStatsInstanceFileHistory" data-toggle="tab" id="tabStatsInstanceFileHistory" role="tab" type="button">History
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="divStatsInstanceFileContainer" style="height: 300px;">
                    <div class="tab-pane fade show active" id="divStatsInstanceFileHeader" role="tabpanel">
                        <div id="divStatsInstanceFileHeaderScroller" style="height: 300px; overflow-y: auto;">
                            <table class="table table-hover table-bordered table-sm" id="tblReplInstanceFileHeader">
                                <thead>
                                <tr class="repl-instance-table" style="font-size: 14px; font-weight: 800; background: var(--ydb-lightgray);">
                                    <th scope="col" style="width: 130px;">Param</th>
                                    <th scope="col" style="width: 200px;">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="divStatsInstanceFileSlots" role="tabpanel">
                        <div style="height: 300px; overflow-y: auto;">
                            <table class="table table-hover table-bordered table-sm" id="tblReplInstanceFileSlots">
                                <thead>
                                <tr class="repl-instance-table" style="font-size: 14px; font-weight: 800; background: var(--ydb-lightgray);">
                                    <th scope="col" style="width: 70px;">Slot #</th>
                                    <th scope="col" style="width: 200px;">Connect Sequence Number</th>
                                    <th scope="col" style="width: 200px;">Resync Sequence Number</th>
                                    <th scope="col" style="width: 200px;">Secondary Instance Name</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="divStatsInstanceFileHistory" role="tabpanel">
                        <div style="height: 300px; overflow-y: auto;">
                            <table class="table table-hover table-bordered table-sm" id="tblReplInstanceFileHistory">
                                <thead>
                                <tr class="repl-instance-table" style="font-size: 14px; font-weight: 800; background: var(--ydb-lightgray);">
                                    <th scope="col" style="width: 70px;">Number</th>
                                    <th scope="col" style="text-align: center;">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>

                <button class="btn btn-outline-info " id="btnReplInstanceFileHelp" style="width: 37px; height: 37px; padding-left: 8px; margin-left: 30px;" title="Help"
                        type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>
