<!-- Device tree map dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalDeviceTreeMap" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-width-1000" role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <label class="modal-title" id="modalLabel">Device Treemap</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <div class="custom-control custom-checkbox ">
                            <input class="custom-control-input" id="checkDeviceTreeMapDb" type="checkbox">
                            <label class="custom-control-label" for="checkDeviceTreeMapDb">Databases</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline" style="margin-left: 20px">
                            <input class="custom-control-input" disabled id="checkDeviceTreeMapDbDetails" type="checkbox">
                            <label class="custom-control-label" for="checkDeviceTreeMapDbDetails">
                                By regions
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="custom-control custom-checkbox ">
                            <input class="custom-control-input" id="checkDeviceTreeMapJournals" type="checkbox">
                            <label class="custom-control-label" for="checkDeviceTreeMapJournals">Journals</label>
                        </div>
                        <div class="custom-control custom-checkbox custom-control-inline" style="margin-left: 20px">
                            <input class="custom-control-input" disabled id="checkDeviceTreeMapJournalsDetails" type="checkbox">
                            <label class="custom-control-label" for="checkDeviceTreeMapJournalsDetails">
                                By regions
                                <a data-content="It will display the total disk space used by all of the journal files for each region" data-original-title="Journal files by region" data-placement="bottom" data-toggle="popover" data-trigger="hover"
                                   tabindex="-1"
                                   title="">
                                    <i class="hand bi-info-circle" style="padding-left: 14px; color: var(--ydb-status-red)!important;">
                                    </i>
                                </a>
                            </label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="custom-control custom-checkbox ">
                            <input class="custom-control-input" id="checkDeviceTreeMapOther" type="checkbox">
                            <label class="custom-control-label" for="checkDeviceTreeMapOther">Other</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="custom-control custom-checkbox ">
                            <input class="custom-control-input" id="checkDeviceTreeMapFreeSpace" type="checkbox">
                            <label class="custom-control-label" for="checkDeviceTreeMapFreeSpace">Free space</label>
                        </div>
                    </div>
                </div>

                <div class="row-12">
                    <div id="chartDeviceTreeMap"></div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnDeviceTreeMapCancel" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
