<!-- System info dialog -->
<div class="modal fade" id="modalEnvVars" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-width-800 modal-dialog-scrollable" role="document">
        <div class="modal-content" style="top: 104px;">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Environment Variables</label>
                <button type="button" class="close" data-dismiss="modal" tabindex="-1" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row-12" style="display: flex;">
                    <div class="col-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input checked class="custom-control-input" id="chkEnvVarsYdb" type="checkbox">
                            <label class="custom-control-label" for="chkEnvVarsYdb">YottaDB</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" id="chkEnvVarsGtm" checked>
                            <label class="custom-control-label" for="chkEnvVarsGtm">GT.M</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input checked class="custom-control-input" id="chkEnvVarsSystem" type="checkbox">
                            <label class="custom-control-label" for="chkEnvVarsSystem">Other</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row-12">
                    <div class="card card-body shadow align-left">
                        <div class="row">
                            <div class="col-12">
                                <div style="height: 297px; overflow-y: auto">
                                    <table class="table table-sm table-hover" id="tblEnvVars">
                                        <thead>
                                        <tr>
                                            <th scope="col" style="width:200px;">Variable</th>
                                            <th scope="col">Value</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1">Close</button>
            </div>
        </div>
    </div>
</div>
