<!-- Env Settings dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalEnvSettings" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-width-700 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Environment</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row" id="altGldFileAlert">
                    <div class="alert alert-warning" role="alert" style="text-align: center;">
                        The Global directory file does not exist.<br>
                        Provide a valid Global Directory file and, optionally, current working directory and environment variables...
                    </div>
                </div>
                <div class="row-12" style="display: flex;">
                    <div class="col-9">
                        <div class="row" style="display: block; padding-bottom: 20px;">
                            <div style="height: 95px;">
                                <h5>Global Directory file</h5>
                                <input class="form-control" id="lblEnvSettingsGld" readonly tabindex="-1" type="text">
                                <div class="invalid-feedback" id="valEnvSettingsGldInvalid"></div>
                                <div class="valid-feedback" id="valEnvSettingsGldValid"></div>
                            </div>
                        </div>
                        <div class="row" style="display: block; padding-bottom: 20px;">
                            <div style="height: 95px;">
                                <h5>Current Working Directory</h5>
                                <input class="form-control" id="lblEnvSettingsCwd" readonly tabindex="-1" type="text">
                                <div class="invalid-feedback" id="valEnvSettingsCwdInvalid"></div>
                                <div class="valid-feedback" id="valEnvSettingsCwdValid"></div>
                            </div>
                        </div>
                        <div class="row" style="display: block; padding-bottom: 20px;">
                            <div style="height: 95px;">
                                <h5>Environment Variables</h5>
                                <input class="form-control" id="lblEnvSettingsEnvVars" readonly tabindex="-1" type="text">
                                <div class="invalid-feedback" id="valEnvSettingsEnvVarsInvalid"></div>
                                <div class="valid-feedback" id="valEnvSettingsEnvVarsValid"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="col-3">
                        <div style="padding-top: 34px;">
                            <button class="btn btn-outline-info btn-block btn-sm"
                                    id="btnEnvSettingsGld"
                                    type="button">Set gld file...
                            </button>
                        </div>
                        <div style="padding-top: 88px;">
                            <button class="btn btn-outline-info btn-block btn-sm"
                                    id="btnEnvSettingsCwd"
                                    type="button">Set cwd...
                            </button>
                        </div>
                        <div style="padding-top: 82px;">
                            <button class="btn btn-outline-info btn-block btn-sm "

                                    id="btnEnvSettingsEnvVars"
                                    type="button">Env vars...
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center">
                    <button class="btn btn-outline-info disabled" disabled id="btnEnvSettingsSet" tabindex="10" type="button">
                        Set
                    </button>
                    <button class="btn btn-outline-info disabled" disabled id="btnEnvSettingsReset" tabindex="10" type="button">
                        Reset
                    </button>
                    <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel</button>
                </div>
            </div>
    </div>
