<!-- gld file selector -->
<div class="modal fade" id="modalGldFileSelector" role="dialog" style="z-index: 2000" tabindex="-1">
    <div class="modal-dialog modal-width-500 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Global Directory selector</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-12">
                        <label>Global Directory file:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group is-invalid">
                            <input class="form-control form-control-sm" id="lblGldFilePath" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm" id="btnGldFilePathFileSelect" type="button">...</button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info disabled" disabled id="btnGldFilePathOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnGldFilePathClose" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
