<!-- Last used Globals Manager dialog -->
<div class="modal fade" id="modalLastUsedGlobalsManager" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-width-700 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Last Used Globals Manager</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body " style="height: 380px;">
                <div class="row">
                    <div class="col-12">
                        <ul id="ulLastUsedGlobalsManager">
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnLastUsedGlobalsManagerOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
