<!-- modalGviewerSettings -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal  fade" id="modalGviewerSettings" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-900 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header center msgbox-header">
                <h6 class="modal-title">Global Viewer Settings</h6>
            </div>
            <div class="modal-body" style="height: 440px;">
                <ul class="nav nav-tabs" id="tabsGviewerSettingsContainer" role="tablist" style="margin-top: 4px;">
                    <li class="nav-item" id="liGviewerTabsGlobal" role="presentation">
                        <a aria-controls="splash" aria-selected="true" class="nav-link active tab-link" data-toggle="tab"
                           href="#tabGviewerGlobalDiv"
                           id="tabGviewerGlobal" role="tab" style="font-size: 12px;">Global</a>
                    </li>
                    <li class="nav-item" id="liGviewerTabsThemeLight" role="presentation">
                        <a aria-controls="splash" aria-selected="true" class="nav-link tab-link" data-toggle="tab"
                           href="#tabGviewerThemeLightDiv"
                           id="tabGviewerThemeLight" role="tab" style="font-size: 12px;">Themes: Light</a>
                    </li>
                    <li class="nav-item" id="liGviewerTabsThemeDark" role="presentation">
                        <a aria-controls="splash" aria-selected="true" class="nav-link tab-link" data-toggle="tab"
                           href="#tabGviewerThemeDarkDiv"
                           id="tabGviewerThemeDark" role="tab" style="font-size: 12px;">Themes: Dark</a>
                    </li>
                </ul>
                <div class="tab-content" id="tabsGviewerSettingsDivsContainer">
                    <!-- BUFFER + GLOBAL BAR -->
                    <div aria-labelledby="tabBuffer" class="tab-pane fade show active" id="tabGviewerGlobalDiv" role="tabpanel">
                        <div style="height: 12px;"></div>
                        <div id="tabGviewerGlobalDivScroll" style="overflow-y: auto; overflow-x: hidden; height: 374px">

                            <div class="row">
                                <div class="col-12">
                                    <h6 style="color: var(--ydb-orange)">Data buffer</h6>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Total buffer size:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <input class="form-control form-control-sm" id="inpGviewerSettingsTotalBufferSize" onchange="app.ui.gViewer.settings.onChange(this)" step="50"
                                                           type="number">
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Initial fetch size:<a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                    <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                </a>
                                                </label>
                                                <div class="col-4">
                                                    <input class="form-control form-control-sm" id="inpGviewerSettingsInitialFetchSize" onchange="app.ui.gViewer.settings.onChange(this)" step="50"
                                                           type="number">
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Max. data length:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <input class="form-control form-control-sm" id="inpGviewerSettingsMaxDataLength" onchange="app.ui.gViewer.settings.onChange(this)" step="16"
                                                           type="number">
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Lazy fetch size:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <input class="form-control form-control-sm" id="inpGviewerSettingsLazyFetchSize" onchange="app.ui.gViewer.settings.onChange(this)" step="50"
                                                           type="number">
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Lazy fetch trigger pages:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <input class="form-control form-control-sm" id="inpGviewerSettingsLazyFetchTriggerPages" onchange="app.ui.gViewer.settings.onChange(this)"
                                                           type="number">
                                                </div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-12">
                                    <h6 style="color: var(--ydb-orange)">Menus</h6>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Last Used count:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <input class="form-control form-control-sm" id="inpGviewerSettingsLastUsedCount" onchange="app.ui.gViewer.settings.onChange(this)" type="number">
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Last Used max. store:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <input class="form-control form-control-sm" id="inpGviewerSettingsLastUsedMaxStore" onchange="app.ui.gViewer.settings.onChange(this)" type="number">
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-12">
                                    <h6 style="color: var(--ydb-orange)">Defaults</h6>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Piece view:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <select class="form-control gviewer-select" id="inpGviewerSettingsDefaultPieceView" onchange="app.ui.gViewer.settings.onChange(this)"
                                                            style="height: 31px;">
                                                        <option value="no">Regular</option>
                                                        <option value="yes">Highlight</option>
                                                        <option value="pills">Pills</option>
                                                    </select>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Bookmark color:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <select class="form-control gviewer-select" id="inpGviewerSettingsDefaultBookmarkColor" onchange="app.ui.gViewer.settings.onChange(this)">
                                                        <option style="color: red;" value="red">Red</option>
                                                        <option style="color: green;" value="green">Green</option>
                                                        <option style="color: cyan;" value="cyan">Cyan</option>
                                                        <option style="color: magenta;" value="magenta">Magenta</option>
                                                        <option style="color: gold;" value="yellow">Yellow</option>
                                                    </select>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Theme:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <select class="form-control  gviewer-select" id="inpGviewerSettingsDefaultTheme" onchange="app.ui.gViewer.settings.onChange(this)">
                                                        <option value="light">Light</option>
                                                        <option value="dark">Dark</option>
                                                    </select>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group row" style="margin-bottom: 0;">
                                                <label class="col-7 col-form-label">Piece char:
                                                    <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                        <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                    </a>
                                                </label>
                                                <div class="col-4">
                                                    <select class="form-control gviewer-select" id="inpGviewerSettingsDefaultPieceChar" onchange="app.ui.gViewer.settings.onChange(this)">
                                                        <option value="^">^</option>
                                                        <option value="!">!</option>
                                                        <option value="@">@</option>
                                                        <option value="#">#</option>
                                                        <option value="$">$</option>
                                                        <option value="%">%</option>
                                                        <option value="&">&</option>
                                                        <option value="*">*</option>
                                                        <option value="|">|</option>
                                                        <option value=".">.</option>
                                                        <option value=",">,</option>
                                                        <option value=":">:</option>
                                                        <option value=";">;</option>
                                                    </select>
                                                </div>
                                                <div class="col-1"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-12">
                                    <h6 style="color: var(--ydb-orange)">Path bar</h6>
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="inconsolata form-control" id="spanGviewerSettingsPathBar" style="border: 1px black solid; width: 818px">
                                            </span>

                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Global:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsPathBarGlobal" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Parens:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsPathBarParens" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Numbers:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsPathBarNumbers" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-6">
                                                    <label class="gviewer-param-label">Strings:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsPathBarStrings" oninput="app.ui.gViewer.settings.onChange(this)" style="margin-left: -7px;" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Commas:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsPathBarCommas" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Colons:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsPathBarColons" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Star:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsPathBarStar" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 13px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- THEME LIGHT -->
                    <div aria-labelledby="tabTable" class="tab-pane fade show" id="tabGviewerThemeLightDiv" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div style="height: 13px;"></div>
                                <div class="row">
                                    <table class="gviewer-table table table-sm table-bordered table-hover" id="tblGviewerSettingsPreview" style="margin: 0 15px 15px;" tabindex="100">
                                        <thead>
                                        <tr style="font-size: 12px; font-weight: 600;">
                                            <th class="gviewer-table-th" scope="col" style="width: 60px; color: blue; background: gray; vertical-align: middle;"></th>
                                            <th class="gviewer-table-th" scope="col" style="width: 40%; color: blue; background: lightgray; vertical-align: middle;">Nodes</th>
                                            <th class="gviewer-table-th" scope="col" style="color: blue; background: lightgray; vertical-align: middle;"><span
                                                    style="padding-top: 5px; display: inline-grid;">Data</span>
                                        </thead>
                                        <tbody class="inconsolata">
                                        <tr style="overflow: hidden">
                                            <td class="global-bookmark inconsolata hand" id="td11GviewerSettingsPreview"
                                                style="overflow-y: auto; overflow-x: hidden; color: blue; background: lightgray;">1
                                            </td>
                                            <td id="td21GviewerSettingsPreview">
                                                <span>^GLOBAL</span><span>(</span><span>999</span><span>,</span><span>"B"</span><span>123456</span><span>)</span>
                                            </td>
                                            <td id="td31GviewerSettingsPreview">
                                                <span>"123456^23^ASPIRINE"</span>
                                            </td>
                                        </tr>
                                        <tr style="overflow: hidden">
                                            <td class="global-bookmark inconsolata hand" id="td12GviewerSettingsPreview" style="color: blue; background: lightgray;">1</td>
                                            <td id="td22GviewerSettingsPreview">
                                                <span>^GLOBAL</span><span>(</span><span>999</span><span>,</span><span>"B"</span><span>123456</span><span>)</span>
                                            </td>
                                            <td id="td32GviewerSettingsPreview">
                                                <span>"123456</span><span>^</span><span>23</span><span>^</span><span>ASPIRINE"</span>
                                            </td>
                                        </tr>
                                        <tr style="overflow: hidden">
                                            <td class="global-bookmark inconsolata hand" id="td13GviewerSettingsPreview" style="color: blue; background: lightgray;">1</td>
                                            <td id="td23GviewerSettingsPreview">
                                                <span>^GLOBAL</span><span>(</span><span>999</span><span>,</span><span>"B"</span><span>123456</span><span>)</span>
                                            </td>
                                            <td id="td33GviewerSettingsPreview">
                                                <span>"123456</span><span>^</span><span>23</span><span>^</span><span>ASPIRINE"</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div style="overflow-y: auto; overflow-x: hidden; height: 212px">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Headers</h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Bookmark back:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsBookmarkHeaderBack" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsHeadersFore" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsHeadersBack" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Bookmarks</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsBookmarksBack" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsBookmarksFore" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Nodes cells</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Global:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesGlobal" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Parens:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesParens" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Commas:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesCommas" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Strings:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesStrings" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Numbers:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesNumbers" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Data cells</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataFore" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Piece font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPieceFore" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Piece background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPieceBack" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Pill background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPillBack" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Pill font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPillFore" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- THEME DARK -->
                    <div aria-labelledby="tabTable" class="tab-pane fade show" id="tabGviewerThemeDarkDiv" role="tabpanel">
                        <div class="row">
                            <div class="col-12">
                                <div style="height: 13px;"></div>
                                <div class="row">
                                    <table class="gviewer-table table table-sm table-bordered table-hover table-dark" id="tblGviewerSettingsPreviewDark" style="margin: 0 15px 15px;" tabindex="100">
                                        <thead>
                                        <tr style="font-size: 12px; font-weight: 600;">
                                            <th class="gviewer-table-th" scope="col" style="width: 60px; color: blue; background: gray; vertical-align: middle;"></th>
                                            <th class="gviewer-table-th" scope="col" style="width: 40%; color: blue; background: lightgray; vertical-align: middle;">Nodes</th>
                                            <th class="gviewer-table-th" scope="col" style="color: blue; background: lightgray; vertical-align: middle;"><span
                                                    style="padding-top: 5px; display: inline-grid;">Data</span>
                                        </thead>
                                        <tbody class="inconsolata">
                                        <tr style="overflow: hidden">
                                            <td class="global-bookmark inconsolata hand" id="td11GviewerSettingsPreviewDark"
                                                style="overflow-y: auto; overflow-x: hidden; color: blue; background: lightgray;">1
                                            </td>
                                            <td id="td21GviewerSettingsPreviewDark">
                                                <span>^GLOBAL</span><span>(</span><span>999</span><span>,</span><span>"B"</span><span>123456</span><span>)</span>
                                            </td>
                                            <td id="td31GviewerSettingsPreviewDark">
                                                <span>"123456^23^ASPIRINE"</span>
                                            </td>
                                        </tr>
                                        <tr style="overflow: hidden">
                                            <td class="global-bookmark inconsolata hand" id="td12GviewerSettingsPreviewDark" style="color: blue; background: lightgray;">1</td>
                                            <td id="td22GviewerSettingsPreviewDark">
                                                <span>^GLOBAL</span><span>(</span><span>999</span><span>,</span><span>"B"</span><span>123456</span><span>)</span>
                                            </td>
                                            <td id="td32GviewerSettingsPreviewDark">
                                                <span>"123456</span><span>^</span><span>23</span><span>^</span><span>ASPIRINE"</span>
                                            </td>
                                        </tr>
                                        <tr style="overflow: hidden">
                                            <td class="global-bookmark inconsolata hand" id="td13GviewerSettingsPreviewDark" style="color: blue; background: lightgray;">1</td>
                                            <td id="td23GviewerSettingsPreviewDark">
                                                <span>^GLOBAL</span><span>(</span><span>999</span><span>,</span><span>"B"</span><span>123456</span><span>)</span>
                                            </td>
                                            <td id="td33GviewerSettingsPreviewDark">
                                                <span>"123456</span><span>^</span><span>23</span><span>^</span><span>ASPIRINE"</span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div style="overflow-y: auto; overflow-x: hidden; height: 212px">
                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Headers</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Bookmark back:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsBookmarkHeaderBackDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsHeadersForeDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsHeadersBackDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Bookmarks</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsBookmarksBackDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsBookmarksForeDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Nodes cells</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Global:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesGlobalDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Parens:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesParensDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Commas:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesCommasDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Strings:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesStringsDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Numbers:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsNodesNumbersDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                    <div class="row">
                                        <div class="col-12">
                                            <h6 style="color: var(--ydb-orange)">Data cells</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataForeDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Piece font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPieceForeDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Piece background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPieceBackDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div style="height: 12px;"></div>

                                    <div class="row">
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Pill background:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPillBackDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="row">
                                                <div class="col-7">
                                                    <label class="gviewer-param-label">Pill font color:
                                                        <a data-toggle="popover" data-trigger="hover" tabindex="-1" title="">
                                                            <i class="hand bi-info-circle" style="padding-left: 6px; font-size: 11px; color:var(--ydb-orange)!important;"></i>
                                                        </a>
                                                    </label>
                                                </div>
                                                <div class="col-5">
                                                    <input id="inpGviewerSettingsDataPillForeDark" oninput="app.ui.gViewer.settings.onChange(this)" type="color">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info disabled" disabled id="btnGviewerSettingsOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
