<!-- Gviewer More Items dialog -->
<div class="modal fade" id="modalGviewerMoreItems" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Last Used</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body ">
                <div class="row">
                    <div class="col-12">
                        <div style="overflow-y: auto; overflow-x: hidden; height: 250px;">
                            <div class="nav flex-column nav-pills region-select cursor-default" id="divGviewerMore" role="tablist" style="display: block;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnGviewerOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
