<!-- routine viewer select dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalRviewerSelect" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-600 modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <label class="modal-title" id="modalLabel">Routine select</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row-12">
                    <div class="col-12">
                        <div class="ui-widget input-group input-group-sm" style="width: 100%">
                            <input class="form-control form-control-sm inconsolata bold" id="inpRviewerMask" style="font-size: 14px;">
                            <div class="input-group-append">
                                <button class="btn btn-outline-info disabled" disabled id="btnRviewerMaskSubmit" style="height: 31px;" type="button"><i class="bi bi-arrow-right-square "></i></button>
                            </div>
                        </div>
                        <small class="form-text " id="hlpRegionAddName" style="font-size: 53%;">
                            Enter a pattern of routine names; ? matches a single character and * matches sequences of characters.
                        </small>
                    </div>
                </div>
                <br>
                <div class="row-12" style="display: flex;">
                    <div class="col-12">
                        <div style="height: 300px; overflow: auto;">
                            <table class="table table-sm table-bordered" id="tblRviewerSelect">
                                <thead>
                                <tr style="position: sticky;">
                                    <th class="gviewer-table-th rviewer-select-header" scope="col">Routine</th>
                                    <th class="gviewer-table-th rviewer-select-header" scope="col" style="width: 162px;">Location</th>
                                </tr>
                                </thead>
                                <tbody style="cursor: default;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row-12" style="display: flex;">
                    <div class="col-12" style="display: flex;">
                        <span id="txtRviewerTotalFoundHeader" style="display: none;">Routines found:&nbsp;&nbsp; </span><span class="ydb-orange-fore" id="txtRviewerTotalFound"
                                                                                                                              style="display: none; font-weight: bold;"></span>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info btn-sm btn-block disabled" disabled id="btnRviewerSelectShow" type="button">Open</button>
            </div>
        </div>
    </div>
</div>
