<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalRegionJournalFiles" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-900 " role="document">
        <div class="modal-content">
            <div class="modal-header ">
                <label class="modal-title">Journal files for </label><label class="modal-title" id="lblRegionJournalFiles"></label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable">
                <div class="row">
                    <div class="col-6">
                        <label><strong>Journal path: </strong></label>
                        <label id="lblJournalFilesBasePath"></label>
                    </div>
                    <div class="col-6">
                        <label><strong>Total disk space used: </strong></label>
                        <label id="lblRegionJournalFilesTotalSpace"></label>
                    </div>
                </div>
                <div style="height: 500px; overflow-y: auto;">
                    <table class="table table-hover" id="tblRegionJournalFiles" style="overflow-x: auto">
                        <thead>
                        <tr style="font-size: 12px; font-weight: 600;">
                            <th class="header-center" scope="col" style="width: 50px;">SEQ</th>
                            <th class="header-center" scope="col" style="width: 70px;">Status</th>
                            <th scope="col" style="width: 200px;">Filename</th>
                            <th scope="col" style="width: 100px;">Created on</th>
                            <th scope="col" style="width: 100px;">Last updated on</th>
                            <th class="header-center" scope="col" style="width: 100px;">Size</th>
                            <th class="header-center" scope="col" style="width: 80px;">Details</th>
                        </tr>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalRegionJournalFilesDetails" role="dialog"
     style="z-index: 2000" tabindex="-1">
    <div class="modal-dialog modal-width-600" role="document">
        <div class="modal-content modal-content-shadow">
            <div class="modal-header ">
                <label class="modal-title">Details for </label><label class="modal-title" id="lblRegionJournalFilesDetails"></label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable">
                <div style="height: 450px;">
                    <table class="table table-hover" id="tblRegionJournalFilesDetails">
                        <thead>
                        <tr style="font-size: 12px; font-weight: 600;">
                            <th scope="col" style=" min-width: 250px;">Param</th>
                            <th scope="col">Value</th>
                        </tr>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
