<!-- Stats SparkChart Graph dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsSparkChartGraph" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-1100  modal-dialog-centered" role="document" style="top: -33px;">
        <div class="modal-content modal-scrollable">
            <div class="modal-header ">
                <label class="modal-title">Graph properties</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable" style="height: 630px;">
                <div class="row">
                    <div class="col-3">
                        <div style="height: 100%; border: 1px solid silver; overflow-y: auto;">
                            <ul class="spark-chart-graph-preview" id="StatsSparkChartGraphSortable"></ul>
                        </div>

                    </div>
                    <div class="col-9" style="height: 500px;">
                        <canvas id="StatsSparkChartGraphPreview" style="border: 1px solid silver;"></canvas>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-4">
                        <button class="btn btn-outline-info btn-sm btn-block" id="btnStatsSparkChartGraphTitle" type="button">
                            Title...
                        </button>
                        <div style="display: flex; padding-top: 8px;">
                            <button class="btn btn-outline-info btn-sm btn-block" id="btnStatsSparkChartGraphSubTitle" type="button">
                                Sub title...
                            </button>
                        </div>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-info btn-block btn-sm" id="btnStatsSparkChartGraphXaxis" type="button">
                            Timescale...
                        </button>
                        <div style="display: flex; padding-top: 8px;">
                            <button class="btn btn-outline-info btn-sm btn-block" id="btnStatsSparkChartGraphYaxis" type="button">
                                Y axis...
                            </button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div style="display: flex;">
                            <button class="btn btn-outline-info btn-block btn-sm" id="btnStatsSparkChartGraphGrid" style="width: 49%; margin-right: 8px;" type="button">
                                Grid...
                            </button>
                            <button class="btn btn-outline-info btn-sm" id="btnStatsSparkChartGraphLegend" style="width: 49%;" type="button">
                                Legend...
                            </button>
                        </div>
                        <div style="display: flex; padding-top: 8px;">
                            <button class="btn btn-outline-info btn-block btn-sm" id="btnStatsSparkChartGraphTooltip" type="button">
                                Tooltips...
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnStatsSparkChartGraphOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsSparkChartGraphCancel" tabindex="-1" type="button">Cancel</button>
                <button class="btn btn-outline-info btn-stats-help" id="btnStatsSparkChartGraphHelp" title="Help" type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>

