<!-- Stats SparkChart Graph Series dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsSparkChartGraphSeries" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-800  modal-dialog-centered" role="document" style="top: -33px;">
        <div class="modal-content modal-content-shadow modal-scrollable">
            <div class="modal-header ">
                <label class="modal-title" id="lblStatsSparkChartGraphSeriesTitle">Series properties</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable">
                <div class="row">
                    <div class="col-3">
                        <div class="row-12" onclick="app.ui.stats.sparkChart.graph.series.linePressed()" style="height: 50%;">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="optStatsSparkChartGraphSeriesLine" name="optStatsSparkChartGraphSeries" type="radio">
                                <label class="custom-control-label" for="optStatsSparkChartGraphSeriesLine"><h3 style="margin-top: -10px; margin-left: 5px;">Line</h3></label>
                            </div>
                            <div>
                                <button class="btn btn-outline-info btn-sm btn-block" id="btnStatsSparkChartGraphSeriesLineSettings" tabindex="10" type="button">
                                    Line settings...
                                </button>
                                <button class="btn btn-outline-info btn-sm btn-block" id="btnStatsSparkChartGraphSeriesYaxisSettings" tabindex="10" type="button">
                                    Y-axis settings...
                                </button>
                            </div>
                        </div>
                        <div class="row-12" id="hideme" onclick="app.ui.stats.sparkChart.graph.series.areaPressed()">
                            <div class="custom-control custom-radio">
                                <input class="custom-control-input" id="optStatsSparkChartGraphSeriesArea" name="optStatsSparkChartGraphSeries" type="radio">
                                <label class="custom-control-label" for="optStatsSparkChartGraphSeriesArea"><h3 style="margin-top: -10px; margin-left: 5px;">Area</h3></label>
                            </div>
                            <div>
                                <button class="btn btn-outline-info btn-sm btn-block" id="btnStatsSparkChartGraphSeriesAreaSettings" tabindex="10" type="button">
                                    Area settings...
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-9" style="height: 292px;">
                        <canvas id="graphStatsSparkChartGraphSeries" style="border: 1px solid silver;"></canvas>
                    </div>
                </div>
            </div>

            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnStatsSparkChartGraphSeriesOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" tabindex="-1" type="button">Cancel</button>
                <button class="btn btn-outline-info btn-stats-help" id="btnStatsSparkChartGraphSeriesHelp" title="Help" type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>

