<div><!-- modalStatsResultSourceProperties dialog -->
    <div aria-hidden="true" aria-labelledby="modalLabel modal-scrollable" class="modal fade" id="modalStatsResultSourceProperties" role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-width-700 " role="document">
            <div class="modal-content " style="top: 104px;">
                <div class="modal-header">
                    <label class="modal-title" id="modalStatsSourcesTitle">Source properties</label>
                    <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 bold">
                            Source type:
                        </div>
                        <div class="col-6">
                            <span id="txtStatsResultsSourcePropertiesType"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 bold">
                            Sample rate:
                        </div>
                        <div class="col-6">
                            <span id="txtStatsResultsSourcePropertiesSampleRate"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" id="divStatsResultsSourcePropertiesRegions">
                        <div class="col-6 bold">
                            Regions:
                        </div>
                        <div class="col-6">
                            <span id="txtStatsResultsSourcePropertiesRegions"></span>
                        </div>
                    </div>
                    <hr>
                    <div class="row" id="divStatsResultsSourcePropertiesProcesses">
                        <div class="col-6 bold">
                            Processes:
                        </div>
                        <div class="col-6">
                            <span id="txtStatsResultsSourcePropertiesProcesses"></span>
                        </div>
                    </div>
                    <hr id="hrStatsResultsSourcePropertiesYgbl">
                    <div class="row">
                        <div class="col-6 bold">
                            Samples:
                        </div>
                        <div class="col-6">
                            <span id="txtStatsResultsSourcePropertiesSamples"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer center">
                    <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsSourcesCancel" tabindex="-1" type="button">Close</button>
                    <button class="btn btn-outline-info" id="btnStatsResultsSourcePropertiesHelp" style="width: 37px; height: 37px; padding-left: 8px; margin-left: 30px;" title="Help"
                            type="button">
                        <i class="bi bi-question-square" style="font-size: 20px;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
