<!-- Stats SparkChart dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsSparkChart" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-1000  modal-dialog-centered" role="document" style="top: -33px;">
        <div class="modal-content modal-scrollable">
            <div class="modal-header ">
                <label class="modal-title">Report definition</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable" style="height: 497px;">
                <div class="row">
                    <div class="col-12">
                        <div style="border: 1px silver solid; overflow: auto; height: 400px;">
                            <table class="table table-sm table-bordered table-hover" id="tblStatsSparkChartMain">
                                <thead>
                                <tr class="bold" style="font-size: 13px; position: sticky; top: 0; z-index: 1; background-color: white;">
                                    <th style="vertical-align: middle; text-align: center; width: 170px;">Type</th>
                                    <th style="vertical-align: middle; width: 170px;">Samples</th>
                                    <th style="vertical-align: middle; width: 170px;">Processes</th>
                                    <th style="vertical-align: middle; width: 170px;">Databases</th>
                                    <th style="vertical-align: middle; text-align: center; width: 95px;">S / R</th>
                                    <th style="vertical-align: middle; width: 456px!important;">Views</th>
                                </tr>
                                </thead>
                                <tbody class="hand" style="font-size: 13px;">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-outline-info btn-block" id="btnStatsSparkChartGraphSettings" tabindex="10" type="button">
                            Graphs configuration...
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnStatsSparkChartOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsSparkChartCancel" tabindex="-1" type="button">Cancel</button>
                <button class="btn btn-outline-info btn-stats-help" id="btnStatsSparkChartHelp" title="Help" type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>

