<!-- Stats SparkChart Mapping dialog -->
<div aria-hidden="true" aria-labelledby="modalLabel" class="modal fade" id="modalStatsSparkChartMapping" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-width-700  modal-dialog-centered" role="document" style="top: -33px;">
        <div class="modal-content modal-content-shadow modal-scrollable">
            <div class="modal-header ">
                <label class="modal-title">Mapping</label>
                <button aria-label="Close" class="close" data-dismiss="modal" tabindex="-1" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body modal-scrollable" style="height: 350px;">
                <div class="row" id="divStatsSparkChartMappingRegion" style="display: none;">
                    <div class="col-6">
                        <h3>Region:</h3>
                    </div>
                    <div class="col-6" style="margin-bottom: 8px;">
                        <select class="form-control form-control-sm" id="selStatsSparkChartMappingRegion">
                        </select>
                    </div>
                </div>

                <div class="row-12">
                    <div style="height: 100%;">
                        <table class="table table-bordered stats-mapping-table" id="tblStatsSparkcChartMapping">
                            <thead>
                            <tr class="bold" style="font-size: 16px; background-color: #f0f0f0; position: sticky;">
                                <th class="v-align-middle" style="width: 150px;">Sample<br></th>
                                <th style="text-align: center; width: 54px;">
                                    <span style="margin-top: 5px;">Abs</span>
                                    <br>
                                    <input class="form-check-input" id="chkStatsSparkcChartMappingAbs" style="margin-left: -5px;" type="checkbox"><br>
                                </th>
                                <th class="v-align-middle" style="text-align: center; width: 54px;">
                                    &nbsp;&nbsp;<span style="font-size: 16px;">Δ</span>
                                    <br>
                                    <input class="form-check-input" id="chkStatsSparkcChartMappingDelta" style="margin-left: -5px;" type="checkbox"><br>
                                </th>
                                <th class="v-align-middle" style="text-align: center; width: 54px;">
                                    <span style="font-size: 16px;">Δ</span>&nbsp;Min
                                    <br>
                                    <input class="form-check-input" id="chkStatsSparkcChartMappingMin" style="margin-left: -5px;" type="checkbox"><br>
                                </th>
                                <th class="v-align-middle" style="text-align: center; width: 54px;">
                                    <span style="font-size: 16px;">Δ</span>&nbsp;Max
                                    <br>
                                    <input class="form-check-input" id="chkStatsSparkcChartMappingMax" style="margin-left: -5px;" type="checkbox"><br>
                                </th>
                                <th class="v-align-middle" style="text-align: center; width: 54px;">
                                    <span style="font-size: 16px;">Δ</span>&nbsp;Avg
                                    <br>
                                    <input class="form-check-input" id="chkStatsSparkcChartMappingAvg" style="margin-left: -5px;" type="checkbox"><br>
                                </th>
                            </tr>

                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer center">
                <button class="btn btn-outline-info" id="btnStatsSparkChartMappingOk" tabindex="10" type="button">
                    Ok
                </button>
                <button class="btn btn-outline-secondary" data-dismiss="modal" id="btnStatsSparkChartMappingCancel" tabindex="-1" type="button">Cancel</button>
                <button class="btn btn-outline-info btn-stats-help" id="btnStatsSparkChartMappingHelp" title="Help" type="button">
                    <i class="bi bi-question-square" style="font-size: 20px;"></i>
                </button>
            </div>
        </div>
    </div>
</div>

